services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
    #  - 9443:9443
      - 8000:8000
    networks:
      - frontend

volumes:
  portainer_data:
    name: portainer_data

networks:
  frontend:
    external: true