---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO

accesslog: {}

ping:
  entryPoint: ping

api:
  dashboard: true
  insecure: true

entryPoints:
  ping:
    address: :8082
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443

certificatesResolvers:
  dreamhost:
    acme:
      email: laroberts@gmail.com
      storage: /var/traefik/certs/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53

tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256

http:
  serversTransports:
    insecure:
      insecureSkipVerify: true

providers:
  docker:
    exposedByDefault: false
    network: frontend
  file:
    directory: /etc/traefik/files
    watch: true