name: Auto Assign PR
on:
  pull_request:
    types: [opened, reopened]
jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Assign user to PR
        uses: actions-ecosystem/action-assign-to-one@v1
        with:
          assignee: lukeroberts